@model eHealth.Presentation.Models.Medecin

<div style="background-image:url('images/medecin.jpg');background-repeat: no-repeat;">
	<b>Nom :</b> @Model.Nom <br />
	<b>Prénom :</b> @Model.Prenom<br />
	<b>Spécialité :</b> @Model.Specialite<br />
</div>